@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 0, 0, 0;
	--background-end-rgb: 100, 0, 50;
  -webkit-user-select: auto; /* Safari */
  -ms-user-select: auto; /* IE 10 and IE 11 */
  user-select: auto;
}

.noselect {
  -webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

::-moz-selection ::-webkit-selection ::selection {
	background: #f9beca;
	color: #1a0052;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 50, 0, 25;
	}
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
    background-attachment: fixed;
}

.animated-background {
	background-size: 150%;

	-webkit-animation: animatedbackgroundanim 60s ease infinite;
	-moz-animation: animatedbackgroundanim 60s ease infinite;
	animation: animatedbackgroundanim 60s ease infinite;
}

.animated-background-fast {
	background-size: 150%;

	-webkit-animation: animatedbackgroundanim 1.5s ease infinite;
	-moz-animation: animatedbackgroundanim 1.5s ease infinite;
	animation: animatedbackgroundanim 1.5s ease infinite;
}

@keyframes animatedbackgroundanim {
	0%,
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}
}


/* for markdown articles */
/* Global styles for Markdown */
article {
  -webkit-user-select: text; /* Safari */
  -ms-user-select: text; /* IE 10 and IE 11 */
  user-select: text;
}

article h1 {
  margin-bottom: 20px;
    font-size: 32px;
  font-weight: bold;
}
article h2 {
  margin-bottom: 15px;
  font-weight: bold;
    font-size: 24px;
}
article h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

article p {
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article a {
  color: #ff0099;
  text-decoration: none;
}

article hr {
	border-color: #9f1239;
	border-width: 1px;
}

article a:hover {
  text-decoration: underline;
}

/* article code {
  background-color: #434343;
  padding: 2px 6px;
  border-radius: 4px;
}

article pre {
  background-color: #434343;
  padding: 20px;
  border-radius: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
} */


/* code blocks */
pre {
  border: #f0beca;
  border-width: 1px;
  border-style: solid;
  border-radius: 0rem;
}

@media (min-width:800px) {
  
  figure[data-rehype-pretty-code-figure] {
    margin-left: -20px;
    margin-right: -20px;
  }
pre {
  border-radius: 1rem;
}
}
  figure[data-rehype-pretty-code-figure] {
    margin-left: -10px;
    margin-right: -10px;
  }

pre {
  /* padding-bottom: 10px; */
    scrollbar-width: thin; /* Use thin scrollbars */
}

pre > code {
    overflow-x: auto !important;
    text-wrap: wrap;
    padding: 1rem;
    color: #d5e1ec
}
pre [data-line] {
  /* padding: 0 1rem; */
}


code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  display: inline-block;
  width: 0.75rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}



/* code highlights */
[data-chars-id] {
  border-bottom-width: 2px;
  padding: .25rem;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}


[data-chars-id="red"] {
  border-bottom-color: rgb(219 39 119 / 1);
  background-color: #9f123980;
  font-weight: 700;
  color: rgb(249 168 212 / 1) !important;
}

[data-chars-id="green"] {
  border-bottom-color: rgb(42 184 0 / 1);
  background-color: #0f9d58;
  font-weight: 700;
  color: rgb(0 255 0 / 1) !important;
}

[data-chars-id="blue"] {
  border-bottom-color: rgb(66 133 244 / 1);
  background-color: #4285f4;
  font-weight: 700;
  color: rgb(0 0 255 / 1) !important;
}

[data-chars-id="yellow"] {
  border-bottom-color: rgb(255 234 0 / 1);
  background-color: #916a00;
  font-weight: 700;
  color: rgb(255 255 0 / 1) !important;
}



/* ul and li */
article ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: disc;
}

article ul ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: circle;
  margin-left: 1rem;
}

article ul ul ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: square;
  margin-left: 2rem;
}

article ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: decimal;
}





/*  */

article blockquote {
  background-color: #434343;
  padding: 10px 20px;
  margin: 20px 0;
  border-left: 4px solid #444;
}

h2.footnote-label {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 16px;
}


span.hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  cursor: help;
}



/* tailwind css:
underline text-pink-500 transition-all hover:bg-pink-500 hover:text-pink-100
*/
a.textlink {
  text-decoration: underline;
  color: #ff0099; /* text-pink-500 */
  transition: all 0.2s;
}

a:hover.textlink {
  background-color: #ec4899; /* bg-pink-500 */
  color: #fdf2f8; /* text-pink-100 */
  text-decoration-style: wavy;
}

span.hoverinfo {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  cursor: help;
}





.centered-main {
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 400px;
}

.centered-content {
  justify-content: center;
  align-items: center;
  height: 100vh;
}