.volume-slider {
    max-width: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-width 0.3s ease-in-out, visibility  0.3s;
}

.music-player:hover .volume-slider {
    max-width: 200px; 
    visibility: visible;
    transition: max-width 0.3s ease-in-out;
}


input {
    width: 100%;
    height: 100%;
}